/* 
    Document   : Global CSS
    Created on : June 15th, 2013 
    Author     : Nelson Laracuente
    Description: Styles for the banner, logo, and poker table with its components 
*/

body 
{ 
   display: block;
   font-family: Arial, sans-serif;
   font-size: 0.875em;
   color: #000;
   line-height: 135%;
   background-color: #ffffff;
}

#top-banner
{   
   display:block;
   background-color: #324F17;
   min-width: 960px; 
   height: 25px;
   margin-bottom: 0px;
}

#site-conainter
{
   max-width: 1050px;
   min-width: 960px; 
   height:auto;
   margin-left: auto;
   margin-right: auto;  
   margin-top: -25px;
}

#header
{   
   width:auto; 
}

#logo
{
   display:inline;
   position:relative;
   left:4%;
   top:0px;
}

#page-title
{
   display: block;
   margin-top: -50px;
   margin-bottom: 10px;
   text-align: center;
   text-transform: capitalize;
   font-size: 1.875em;
   font-family: Agentcy FB, Georgia, sans-serif;
   font-weight: bolder;
   color: #282828;
}

#game-container
{ 
   width: 650px;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   color: #fff;
   font-family: Verdana, Arial, sans-serif;
   font-size: 1em;   
}

#poker-table
{
   width: 100%;
   min-height: 350px;
   padding: 10px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-radius: 1em;
   border: 10px solid #324F17;
   -webkit-border-radius: 1.5em;
   -moz-border-radius: 1.5em;
   -ms-border-radius: 1.5em;
   -o-border-radius: 1.5em;
   background-color: #3D8B37;
   margin-left: auto;
   margin-right: auto;
}

.name-sign
{
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;  
  font-size: 1.25em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.face-down-card
{
   width: 50px;
   height: 75px;
   float:left;
   margin: 10px 5px 10px 5px;
   background-image: url('../img/face_down_card.png');
   overflow: hidden;
}

#dealer-deck
{
   max-width:600px;
   margin-left: auto;
   margin-right: auto;     
}

.vertical-padding
{
  clear:both;
  display: block;
}

#table-center
{
   display:block;
}

#game-message
{ 
   padding-left: 25px;
   padding-right: 25px;
   margin-top: 5px;
   font-size: 1.25em;
   display: block;
   text-align: center;
   line-height: 102%;
   margin-bottom: 20px;
}

#action-button 
{
   clear:both;
   display: block;
   width: 100px;
   height: 20px;  
   margin-left: auto;
   margin-right: auto;     
   font-size: 1em;
   text-transform: capitalize;
   text-align: center;   
   padding:5px 10px 5px 10px;   
   border: 2px solid #595959;
   -webkit-border-radius: 1.5em;
   -moz-border-radius: 1.5em;
   -ms-border-radius: 1.5em;
   -o-border-radius: 1.5em;
   background-color: #282828; 
}

#action-button:hover
{
   background-color: #494949;
   cursor: pointer;
}

#player-deck
{
   width: 425px; 
   margin-top: 25px;
   maring-bottom: 10px;
   margin-left: auto;
   margin-right: auto;     
}

.player-card
{
   width: 75px;
   height: 115px;
   float:left;
   margin: 10px 5px 10px 5px;    
   font-weight: bold;
   text-align: center;
}

.face-up-card
{
   border: 2px solid #282828;
   margin-left: auto;
   margin-right: auto;
   width: 50px;
   height: 75px;
}

.red-card   { color: #d40000; }
.black-card { color: #282828; }
.highlighted-card { border: 4px solid #ffff00; margin-top: -8px; }

.c-card { background-image: url('../img/c_card.png'); }
.d-card { background-image: url('../img/d_card.png'); }
.h-card { background-image: url('../img/h_card.png'); }
.s-card { background-image: url('../img/s_card.png'); }

.discard-button
{
   display: block;
   margin-top: 5px;
   height: 20px;
   font-weight: normal;
   background-color: #282828;
   padding: 5px;  
   cursor: pointer;
}

.discard-button:hover {background-color: #494949;}


#footer
{
   color:#fff;
   display:inline;
   position:relative;
   left:30%;
   top:20px;
}

#bottom-banner
{   
   display:block;
   background-color: #324F17;
   height: 25px;
   margin-top: 0px;
}
